* {
    padding: 0;
    margin: 0;
    text-align:center;
}

/*-------------- main content (top/static content) -----------------*/

.topcontainer {
    top:0;
}

.slideshowcontainer {
    max-width: 100%;
    position: relative;
}

.slideshowslide {
    display: none;
    position:relative;
    z-index:0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    border-radius: 0 200px 200px 0;
}

.next {
    right: 0;
    border-radius: 200px 0 0 200px;
}

.prev:hover, .next:hover {
    background-color: rgba(71,71,71,0.5);
}

/* Play/Pause buttons in slideshow */
.slideshowButton {
    cursor:pointer;
    margin-right:10px;
    margin-top:10px;
    border:0;
    background:rgba(0,0,0,0);
    position:absolute;
    right:0;
    top:0;
}

button[name="playButton"] {
    display:none;
    width:46px;
    height:46px;
    background:url(playButton.png) center no-repeat;
    background-size:46px;
}

button[name="pauseButton"] {
    width:45px;
    height:45px;
    background:url(pauseButton.png) center no-repeat;
    background-size:45px;
}

/* Dots in slideshow */
.dots {
    position:absolute;
    bottom: 0;
    left:0;
    margin-left:50%;
    display:inline-block;
    padding:10px;
    z-index:1;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    position:relative;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:not(.visible):hover {
    background-color: rgba(45,47,47,0.7);
}

.visible {
    background-color: rgba(221,00,00,0.7);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-top:20px;
    margin-left:50%;
    position:relative;
    z-index:1;
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavbutton {
    margin-left:-4px;
}

.topnavbutton:not(.active):hover {
    background-color: rgba(28, 30, 30, 0.8);
    color: white;
}

.topnavbutton.active {
    background-color: rgba(221,00,00,0.8);
    color: white;
}

/* Page Content */
.pagecontent {
    position:relative;
    margin-top:-20px;
    z-index:0;
}

/*------------ tab content specific -------------*/

.tabcontent p {
    margin-bottom:30px;
    margin-left:25%;
    margin-right:25%;
    font-family:"Noto Serif", Georgia, serif;
}

.tabcontent h1 {
    text-align:center;
    color:white;
    margin-top:30px;
    margin-left:30%;
    margin-right:30%;
    font-family:"Palantinos", Verdana, sans-serif;
}

.tabcontent h5 {
    text-align:center;
    color: rgb(184, 187, 183);
    margin-left:30%;
    margin-right:30%;
    margin-bottom:20px;
    font-family:"Palantinos", Verdana, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #707a82;
    margin-left:20%;
    margin-right:20%;
    padding: 0;
}

.facebookButton {
    cursor:pointer;
    border:0;
    width:50px;
    height:50px;
    background:url(facebookButton.png) center no-repeat;
    background-size:50px;
}